@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #2196f3, #f44336);
    overflow: hidden;
    max-height: 100vh;
    max-width: 100%;
    width: 100%;
    user-select: none;
}

[class*="btn-"] {
    font-size: 6em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.container {
    margin: auto;
    max-width: 1600px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.counter {
    text-align: center;
    font-size: 6em;
}